.btn {
  border-radius: 0 !important;
  border: 0;
}
.btn:hover {
  background-color: #000 !important;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #007abb;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

body {
  color: #6C6C6C;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 16px 0;
  color: #000;
}

a {
  color: #6C6C6C;
  text-decoration: none;
}

p {
  line-height: 1.8;
}

:root {
  --bs-btn-border-radius: 0px !important;
}

.btn-primary {
  background-color: #0071BB !important;
  border-color: #0071BB !important;
}

.bg-light {
  background-color: #EDEDED !important;
}

.cta {
  padding: 80px 0;
  color: #fff;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/inithive/images/bg-img.jpg");
}
.cta__title {
  font-size: 35px;
  padding-bottom: 20px;
}
.cta a {
  padding: 10px 30px;
}

.featured-products {
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/inithive/images/feature-bg.jpg");
}
.featured-products__title {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;
}
.featured-products__title span {
  color: #ff921e;
}

.testimonials {
  padding: 50px 0;
}
.testimonials__title {
  text-align: center;
}
.testimonials__wrap {
  margin: 1px;
}
.testimonials__wrap p {
  border: 1px solid #EDEDED;
  padding: 25px;
  font-style: italic;
  position: relative;
}
.testimonials__wrap p:before {
  content: "";
  position: absolute;
  border: 1px solid #EDEDED;
  width: 20px;
  height: 20px;
  bottom: -20px;
  transition: auto;
  border-top: #fff;
  left: 20px;
  background-color: #EDEDED;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}
.testimonials__wrap .tesimonials__wrap__name {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
.testimonials__wrap__image {
  width: 48px;
  border-radius: 50px;
  overflow: hidden;
}
.testimonials .owl-nav {
  display: none;
}
.testimonials .owl-dots {
  text-align: center;
}
.testimonials .owl-dots .owl-dot {
  width: 25px;
  height: 10px;
  background-color: #000;
  margin: 0 5px;
  border-radius: 5px;
}
.testimonials .owl-dots .active {
  background-color: #0071BB;
}

.footer {
  background-color: #ececec;
}
.footer__title {
  font-size: 25px;
  color: #000;
}
.footer ul {
  list-style: none;
  line-height: 2.5;
  margin: 0;
  padding: 0;
}
.footer ul li {
  position: relative;
  padding-left: 11px;
}
.footer ul li:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  height: 1px;
  width: 6px;
  background-color: #6C6C6C;
}
.footer .social a i {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 42px;
  height: 42px;
  font-size: 20px;
  line-height: 42px;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  color: #6C6C6C;
  border: 1px solid #6C6C6C;
}
.footer .social a i:after {
  display: inline-block;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  background: #0071BB;
  transform-origin: 0 0;
  transform: rotate(45deg) translate3d(-50%, 50%, 0);
  transition: all 0.35s cubic-bezier(0.05, 0.29, 0.11, 1.54);
  pointer-events: none;
  z-index: -1;
}
.footer .social a i:hover:after {
  transform: rotate(45deg) translate3d(-50%, -50%, 0);
}
.footer .social a i:hover {
  color: #fff;
  border: 1px solid #0071BB;
}

.hero {
  padding: 50px 0;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/slider.jpg");
}
@media (min-width: 768px) {
  .hero {
    padding: 100px 0;
  }
}
.hero .hero-content p {
  font-size: 25px;
  color: #6C6C6C;
}
.hero .hero-content a {
  padding: 10px 30px;
}

.headline {
  font-size: 25px;
}

.main-nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style: none;
}
.main-nav ul .search-input {
  display: none;
  padding: 2px 10px;
  border: 1px solid #6C6C6C;
  font-size: 14px;
  height: 24px;
  width: 250px;
  margin-right: 8px;
}
.main-nav ul .search-button {
  cursor: pointer;
}
.main-nav a {
  display: block;
  font-size: 18px;
}
.main-nav__logo {
  display: inline-block;
  width: auto;
  height: 100%;
  max-height: 60px;
}
.main-nav__top {
  padding: 8px 0;
}
.main-nav__top a {
  font-size: 16px;
}
.main-nav__top a i {
  color: #0071BB;
}
.main-nav__main {
  padding: 16px 0;
}
.main-nav__main ul li {
  position: relative;
  max-width: 120px;
  margin: 0 5px;
}
@media (max-width: 1199px) {
  .main-nav__main ul li {
    margin-bottom: 12px;
  }
  .main-nav__main ul li.has-dropdown:after {
    position: absolute;
    top: -2px;
    right: 0;
    bottom: 0;
    z-index: 9;
    width: 30px;
    height: 30px;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-align: center;
    content: "\f078";
    cursor: pointer;
  }
  .main-nav__main ul li.has-dropdown.active:after {
    content: "\f077";
  }
}
.main-nav__main ul li > ul {
  max-height: 0;
  overflow: hidden;
  transform: translateX(-30px);
  transition: all 0s, opacity 0.3s ease;
}
@media (min-width: 1200px) {
  .main-nav__main ul li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 240px;
    background-color: #0071BB;
    opacity: 0;
    transform: translateY(-30px);
    z-index: 11;
  }
}
.main-nav__main ul li > ul li {
  max-width: none !important;
  margin: 0;
}
.main-nav__main ul li > ul li a {
  display: block;
  padding: 2px 16px;
  text-align: left;
  transition: background-color 0.3s ease;
  color: #fff;
}
@media (min-width: 1200px) {
  .main-nav__main ul li > ul li a {
    padding: 8px 16px;
  }
  .main-nav__main ul li > ul li a:hover {
    background-color: #EDEDED;
    color: #000;
  }
}
@media (max-width: 1199px) {
  .main-nav__main ul li.active > ul {
    max-height: 1000px;
    opacity: 1;
    transform: translateX(0);
    transition: all 0s 0.3s, opacity 0.3s ease;
  }
}
@media (min-width: 1200px) {
  .main-nav__main ul li:hover > ul {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
    transition: all 0s 0.3s, opacity 0.3s ease;
  }
}
@media (min-width: 1200px) {
  .main-nav__main ul li:last-child {
    max-width: 150px;
  }
}
.main-nav__main a {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
}
.main-nav__main a.btn.btn-primary {
  height: auto;
  padding: 4px 16px;
  white-space: nowrap;
  justify-content: center;
}
@media (max-width: 1199px) {
  .main-nav .main-nav__burger {
    background-color: transparent !important;
  }
  .main-nav__wrapper {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    bottom: 0;
    padding: 50px;
    background: black;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .main-nav__wrapper .main-nav__burger {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    color: #fff;
  }
  .main-nav__wrapper.active {
    opacity: 1;
    transform: translateX(-100%);
    z-index: 11;
  }
  .main-nav__wrapper.active .main-nav__burger {
    display: block;
  }
  .main-nav__main {
    padding: 20px;
  }
  .main-nav__main ul {
    display: block;
    line-height: 2.5;
  }
  .main-nav__main ul li {
    max-width: none;
  }
  .main-nav__main ul li a {
    color: #fff;
  }
}
.main-nav .container-rightbtn {
  display: flex;
  align-items: center;
  justify-content: end;
}

.services__item {
  position: relative;
  text-align: center;
  padding: 30px 0;
}
.services__item img {
  margin: 0 auto;
  width: 100%;
  max-width: 120px;
  height: 80px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.services__item h3 {
  transition: color 0.3s ease;
}
.services__item:hover h3 {
  color: #0071BB;
}
.services__item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.contact-top-banner {
  position: relative;
  padding: 50px 0;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/contact-bg.jpg");
  background-attachment: fixed;
}
.contact-top-banner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
}
.contact-top-banner__content {
  color: #fff;
  z-index: 1;
  position: relative;
}
.contact-top-banner__title {
  font-size: 35px;
}
.contact-top-banner__title span {
  color: #ff921e;
}

.contact__map {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
}
.contact__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.top-banner {
  position: relative;
  padding: 50px 0;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/innerpage-bg.jpg");
  background-attachment: fixed;
}
.top-banner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
}
.top-banner__content {
  color: #fff;
  z-index: 1;
  position: relative;
}
.top-banner__title {
  font-size: 35px;
}
.top-banner__title span {
  color: #ff921e;
}

.innerpage-wrap {
  padding: 40px 0;
}
.innerpage-wrap__title {
  font-size: 25px;
  color: #000;
  text-transform: uppercase;
}
.innerpage-wrap .video-wrap {
  position: relative;
}
.innerpage-wrap .video-wrap img {
  object-fit: cover;
}
.innerpage-wrap .video-wrap__video-icon-wrap {
  position: absolute;
  height: auto;
  width: auto;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  right: 0;
  margin: auto;
}
.innerpage-wrap .video-wrap__video-icon-wrap a {
  background: radial-gradient(rgba(14, 101, 243, 0.8) 60%, white 62%);
  box-shadow: 0px 0px 25px 3px rgba(14, 101, 243, 0.8);
  width: 70px;
  height: 70px;
  background: #0e65f3;
  border-radius: 50%;
  line-height: 70px;
  display: inline-block;
  text-align: center;
  position: relative;
  color: #fff;
  animation: playButtonGlow 4s infinite;
}
.innerpage-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2.5;
}
.innerpage-wrap ul li {
  position: relative;
  padding-left: 30px;
}
.innerpage-wrap ul li:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 30px;
  height: 30px;
  color: #6C6C6C;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-align: center;
  content: "\f054";
  cursor: pointer;
}
.innerpage-wrap table {
  width: 100%;
  margin: 20px 0;
}
.innerpage-wrap table th {
  padding: 10px;
  background-color: #6C6C6C;
  color: #fff;
  border: 1px solid #fff;
}
.innerpage-wrap table td {
  padding: 10px;
  background-color: #EDEDED;
  border: 1px solid #fff;
}

@keyframes playButtonGlow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
/**service**/
.service-top-banner {
  padding: 50px 0;
  position: relative;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/service.jpg");
  background-attachment: fixed;
}
.service-top-banner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
}
.service-top-banner__content {
  color: #fff;
  z-index: 1;
  position: relative;
}
.service-top-banner__title {
  font-size: 35px;
}
.service-top-banner__title span {
  color: #ff921e;
}

/*# sourceMappingURL=app.css.map */
