.img-responsive {
  max-width: 100%;
}

.clearfix {
  clear: both;
}

.hero:before {
  position: absolute;
  content: "";
}

.btn {
  border-radius: 0 !important;
  border: 0;
}
.btn:hover {
  background-color: #000 !important;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #362e61;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

body {
  color: #4e4e4e;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 16px 0;
  color: #000;
  font-family: "Dosis", sans-serif;
}

a {
  color: #4e4e4e;
  text-decoration: none;
}

p {
  line-height: 1.8;
}

:root {
  --bs-btn-border-radius: 0px !important;
}

.btn-primary {
  background-color: #362e61 !important;
  border-color: #362e61 !important;
}

.bg-light {
  background-color: #d8d8d8 !important;
}

.aboutus {
  padding: 60px 0;
}
.aboutus__content-wrap {
  display: inline;
  align-items: center;
}
@media (min-width: 768px) {
  .aboutus__content-wrap {
    display: flex;
    align-items: center;
  }
}
.aboutus__content-wrap .about-wrap {
  padding: 0 30px;
}
.aboutus__content-wrap .about-wrap .title {
  position: relative;
  color: #362e61;
  font-size: 20px;
  text-transform: uppercase;
}
.aboutus__content-wrap .about-wrap .title:before {
  display: inline-block;
  width: 70px;
  height: 2px;
  margin-right: 20px;
  background: #362e61;
  content: "";
  transform: translateY(-4px);
}
.aboutus__content-wrap .about-wrap .more {
  margin-top: 30px;
  font-size: 25px;
}
.aboutus__content-wrap .about-wrap .more span {
  background: #362e61;
  padding: 5px 7px;
  width: 215px;
  display: block;
}
.aboutus__content-wrap .about-wrap .more span a {
  padding: 5px 13px;
  text-decoration: none;
  background: #362e61;
  color: #fff;
  font-size: 16px;
  border: 1px solid #fff;
  display: block;
  text-align: center;
}
.aboutus__title {
  font-size: 30px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.aboutus a {
  padding: 10px 30px;
}

.news-event {
  background: #EFEFEF;
  padding: 50px;
}
.news-event__title {
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.news-event .news-list .date {
  margin-top: 20px;
}
.news-event .news-list .date span {
  background-color: #362e61;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}
.news-event .news-list h3 {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-event .news-list a:hover {
  color: #362e61;
}

.innerpage-wrapper.news-event {
  background: transparent;
}
.innerpage-wrapper.news-event .news-list {
  margin-bottom: 40px;
}

.testimonials__wrapper {
  padding: 50px 0;
  background: url(../images/testimonial-logo.png) #d7d3cf center left no-repeat;
  text-align: center;
}
.testimonials__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}
.testimonials__wrap {
  margin: 30px;
}
.testimonials__wrap .tesimonials__wrap__name {
  color: #000;
  font-size: 20px;
}
.testimonials .owl-nav {
  display: none;
}
.testimonials .owl-dots {
  text-align: center;
}
.testimonials .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid #362e61;
  margin: 0 5px;
  border-radius: 50px;
}
.testimonials .owl-dots .active {
  background-color: #362e61;
}

.footer {
  background: url(../images/footerimg.jpg) fixed;
  position: relative;
  color: #a0a0a0;
}
.footer:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.footer .container {
  z-index: 1;
  position: relative;
}
.footer h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}
.footer .direction-wrap {
  position: relative;
}
.footer .direction-wrap .map {
  text-align: center;
}
@media (min-width: 992px) {
  .footer .direction-wrap .map {
    text-align: left;
  }
}
.footer .direction-wrap .loction-wrap {
  background: #362e61;
  color: #fff;
  padding: 5px 20px 22px;
  position: relative;
  top: 0;
  left: 0;
}
@media (min-width: 992px) {
  .footer .direction-wrap .loction-wrap {
    background: #362e61;
    color: #fff;
    padding: 5px 20px 15px;
    position: absolute;
    top: 0;
    left: 37%;
  }
}
.footer .direction-wrap .loction-wrap p span {
  display: block;
  float: right;
  width: 93%;
}
.footer .footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .footer-menu ul li {
  line-height: 2.5;
}
.footer .footer-menu ul li a {
  color: #a0a0a0;
}
.footer .footer-menu ul li a:hover {
  text-decoration: underline;
}
.footer .get-in-touch p a {
  color: #a0a0a0;
  text-decoration: underline;
}
.footer .get-in-touch .footer-followus a {
  border-radius: 50px;
  border: 1px solid #a0a0a0;
  width: 30px;
  height: 30px;
  padding: 3px;
  display: block;
  float: left;
  text-align: center;
  margin-right: 9px;
  color: #a0a0a0;
}
.footer .copyright {
  border-top: 1px solid #362e61;
  margin-top: 30px;
  padding-top: 20px;
}

.hero {
  position: relative;
  z-index: 0;
  height: 540px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/slider.jpg");
  /* &__slider-logo{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 364px;
      height: 256px;;
   }

  .hero-content{
      position: absolute;
      top: 0;
      left: 10%;
      background-color: rgb(0, 0, 0, 0.5);
      padding:150px 50px;
      font-size: 30px;
      color: $white;
      font-family: $font-head;
      text-transform: uppercase;
      width: 40%;
      height: 100%;
      @include mediaMax(lg) {
          padding: 100px 50px;
          left:4%;
          width: 50%;
      }

      h1{
          color: $white;
          font-size: 30px;

          span{
              display: inline-block;
              width: 70px;
              height: 2px;
              background: $white;
              margin-right: 20px;
              position: relative;
              top: -4px;
          }
      }

      p{

      }
      a{
          padding: 10px 30px;


      }
  }
  */
}
.hero:before {
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/slider-logo.png");
}
.hero-column {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 15px;
}
.hero-content {
  padding: 30px 35px;
  color: #fff;
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.hero-content h1 {
  color: #fff;
  font-size: 30px;
}
.hero-content h1:before {
  display: inline-block;
  width: 70px;
  height: 2px;
  margin-right: 20px;
  background: #fff;
  content: "";
  transform: translateY(-4px);
}
.hero-content a {
  padding: 10px 30px;
}

.headline {
  font-size: 20px;
}

.main-nav .top-address {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .main-nav .top-address {
    text-align: right;
  }
}
.main-nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 16px;
  list-style: none;
}
.main-nav__logo {
  display: inline-block;
  width: auto;
  height: 100%;
  max-height: 60px;
}
.main-nav__top {
  padding: 8px 0;
  background-color: #fff;
  text-align: center;
}
.main-nav__top a {
  font-size: 16px;
}
.main-nav__top a i {
  color: #362e61;
}
.main-nav__main {
  padding: 16px 0;
  background: #362e61;
}
.main-nav__main ul li {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 12px;
}
.main-nav__main ul li a {
  color: #fff;
}
.main-nav__main ul li.has-dropdown:after {
  z-index: 9;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-align: center;
  color: #fff;
  content: "\f078";
  cursor: pointer;
}
@media (min-width: 1200px) {
  .main-nav__main ul li.has-dropdown:after {
    margin-left: 4px;
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .main-nav__main ul li.has-sub-dropdown:after {
    position: absolute;
    top: 50%;
    right: 8px;
    color: #362e61;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    transform: translateY(-50%);
  }
}
@media (min-width: 1200px) {
  .main-nav__main ul li.has-sub-dropdown:hover:after {
    color: #fff;
  }
}
@media (max-width: 1199px) {
  .main-nav__main ul li {
    margin-bottom: 12px;
  }
  .main-nav__main ul li.has-dropdown:after {
    position: absolute;
    top: -2px;
    right: 0;
    bottom: 0;
    color: #fff;
    width: 30px;
    height: 30px;
  }
  .main-nav__main ul li.has-dropdown.active:after {
    content: "\f077";
  }
}
.main-nav__main ul li > ul {
  max-height: 0;
  overflow: hidden;
  transform: translateX(-30px);
  transition: all 0s, opacity 0.3s ease;
}
@media (min-width: 1200px) {
  .main-nav__main ul li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 11;
    display: block;
    width: 250px;
    overflow: visible;
    background-color: #fff;
    opacity: 0;
    transform: scale(0);
    transition: all 0s, opacity 0.3s ease;
    box-shadow: 0 0 3px #fff;
  }
}
.main-nav__main ul li > ul li {
  display: block;
  max-width: none !important;
  margin: 0;
}
.main-nav__main ul li > ul li a {
  display: block;
  padding: 2px 16px;
  text-align: left;
  transition: background-color 0.3s ease;
  color: #fff;
}
@media (min-width: 1200px) {
  .main-nav__main ul li > ul li a {
    padding: 8px 16px;
    color: #362e61;
  }
}
@media (min-width: 1200px) {
  .main-nav__main ul li > ul li:hover a:hover {
    color: #fff;
    background-color: #362e61;
  }
}
.main-nav__main ul li > ul li:hover.has-sub-dropdown:after {
  color: #000;
}
.main-nav__main ul li.has-sub-dropdown > ul {
  top: 0;
  left: 100%;
}
@media (max-width: 1199px) {
  .main-nav__main ul li.active ul {
    max-height: 1000px;
    opacity: 1;
    transform: translateX(0);
    transition: all 0s 0.3s, opacity 0.3s ease;
  }
}
@media (min-width: 1200px) {
  .main-nav__main ul li:hover > ul {
    max-height: 1000px;
    opacity: 1;
    transform: scale(1);
    transition: all 0s, opacity 0.3s 0.3s ease;
  }
}
@media (min-width: 1200px) {
  .main-nav__main ul li:last-child {
    max-width: 150px;
  }
}
.main-nav__main .has-dropdown {
  position: relative;
}
.main-nav__main .has-dropdown:hover > ul:before {
  position: absolute;
  top: -7px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  margin-left: 15px;
}
@media (min-width: 1200px) {
  .main-nav__main .has-dropdown:hover > ul:before {
    content: "";
  }
}
@media (max-width: 1199px) {
  .main-nav .main-nav__burger {
    background-color: transparent !important;
    color: #fff;
    font-size: 20px;
  }
  .main-nav__wrapper {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    bottom: 0;
    padding: 50px;
    background: black;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .main-nav__wrapper .main-nav__burger {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    color: #fff;
  }
  .main-nav__wrapper.active {
    z-index: 11;
    overflow-y: auto;
    opacity: 1;
    transform: translateX(-100%);
  }
  .main-nav__wrapper.active .main-nav__burger {
    display: block;
  }
  .main-nav__main {
    padding: 20px;
  }
  .main-nav__main ul {
    display: block;
    line-height: 2.5;
  }
  .main-nav__main ul > li {
    max-width: none;
    border-bottom: 1px solid #333;
    display: inherit;
  }
  .main-nav__main ul > li a {
    color: #fff;
  }
  .main-nav__main ul > li a:hover {
    background-color: rgba(255, 255, 255, 0.125);
  }
  .main-nav__main ul > li.has-dropdown.active ul {
    padding-left: 8px;
    margin-left: 0;
    border-left: 1px solid #333;
  }
  .main-nav__main ul > li.has-dropdown.active ul li {
    border-bottom: none;
  }
  .main-nav__main ul > li.has-sub-dropdown ul {
    padding-left: 8px !important;
    margin-left: 18px !important;
  }
}
.main-nav .container-rightbtn {
  display: flex;
  align-items: center;
  justify-content: end;
}

.row-nav {
  display: flex;
  align-items: center;
}
.row-nav__logo, .row-nav__button {
  flex: 0 0 100px;
}
.row-nav__menu {
  flex: 1;
  justify-content: center;
}

.course {
  padding: 50px 0;
}
.course .desktop-course-image {
  display: none;
}
@media (min-width: 992px) {
  .course .desktop-course-image {
    display: none;
  }
  .course .mobile-course-image {
    display: inline;
  }
}
@media (min-width: 1200px) {
  .course .desktop-course-image {
    display: inline;
  }
  .course .mobile-course-image {
    display: none;
  }
}
.course .course-image {
  position: relative;
}
.course .course-image .img {
  position: absolute;
}
.course .course-image .img2 {
  box-shadow: 0px 1px 9px #000;
  position: absolute;
  bottom: 17%;
  right: 5%;
  z-index: 1;
}
.course .course-image .img2 img {
  height: 226px;
  width: 353px;
}
.course .course-image .img3 {
  box-shadow: 0px 1px 9px #000;
  position: absolute;
  bottom: -95px;
  left: 7%;
}
.course .course-image .img3 img {
  height: 226px;
  width: 353px;
}
.course .title {
  position: relative;
  color: #362e61;
  font-size: 20px;
  text-transform: uppercase;
}
.course .title:before {
  display: inline-block;
  width: 70px;
  height: 2px;
  margin-right: 20px;
  background: #362e61;
  content: "";
  transform: translateY(-4px);
}
.course h2 {
  text-transform: uppercase;
  font-size: 30px;
}
.course .course-list-wrap .course-list {
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .course .course-list-wrap .course-list {
    text-align: left;
  }
}
.course .course-list-wrap .course-list .course-icon img {
  width: 87px;
  height: 88px;
}
.course .course-list-wrap .course-list .course-title a {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
}
.course .course-list-wrap .course-list .course-title a:hover {
  color: #362e61;
}
.course .view-more {
  display: block;
  text-align: right;
}
.course .view-more a {
  background-color: #362e61;
  padding: 5px 10px;
  color: #fff;
  border: 1px solid #362e61;
}
.course .view-more a:hover {
  background-color: #fff;
  color: #362e61;
}

.university {
  padding: 40px 0;
}
.university__title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
.university .owl-nav {
  display: none;
}

.contactpage-wrapper__contact-wrap {
  text-align: center;
  border: 1px solid #362e61;
  height: 100%;
  padding: 20px;
}
.contactpage-wrapper__contact-wrap .contact-follow {
  font-family: "Dosis", sans-serif;
  color: #362e61;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
}
.contactpage-wrapper .title {
  font-size: 20px;
  margin: 20px 0;
  color: #362e61;
}
.contactpage-wrapper .contact__map {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
}

.top-banner {
  position: relative;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/innerpage-bg.jpg");
  background-attachment: fixed;
}
.top-banner__title {
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
}
.top-banner .breadcrumbs a {
  color: #fff;
  position: relative;
}
.top-banner .breadcrumbs a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 15px;
  height: 1px;
  background: #fff;
  transition: all 0.4s ease-in-out;
}
.top-banner .breadcrumbs a:hover:before {
  width: 100%;
}

.innerpage-wrapper {
  padding: 40px 0;
}
.innerpage-wrapper p {
  text-align: justify;
}
.innerpage-wrapper .side-about-wrap {
  border: 1px solid #a0a0a0;
  margin-bottom: 20px;
}
.innerpage-wrapper .side-about-wrap h5 {
  background: #362e61;
  padding: 10px 15px;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}
.innerpage-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2.5;
}
.innerpage-wrapper ul li {
  position: relative;
  padding-left: 30px;
}
.innerpage-wrapper ul li:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 30px;
  height: 30px;
  color: #4e4e4e;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-align: center;
  content: "\f054";
  cursor: pointer;
}
.innerpage-wrapper .university {
  padding: 0;
}
.innerpage-wrapper .course-list {
  border: 1px solid #d8d8d8;
  padding: 20px;
}
.innerpage-wrapper .course-list .course-title a {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
}
.innerpage-wrapper .course-list .course-title a:hover {
  color: #362e61;
}
.innerpage-wrapper .course-list .course-icon {
  text-align: center;
}
.innerpage-wrapper ul.nav-tabs {
  background-color: #eee;
}
.innerpage-wrapper ul.nav-tabs li {
  padding-left: 0;
  margin: auto;
}
.innerpage-wrapper ul.nav-tabs li:before {
  width: 0;
  height: 0;
  content: "";
}
.innerpage-wrapper ul.nav-tabs li span {
  display: block;
  border: 1px solid;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-weight: bolder;
  font-size: 20px;
  background: #362e61;
  color: #fff;
}
.innerpage-wrapper .tab-content {
  padding: 30px;
  border: 1px solid #ddd;
  border-top: 0;
  margin-bottom: 30px;
}
.innerpage-wrapper table {
  width: 100%;
  margin: 20px 0;
}
.innerpage-wrapper table th {
  padding: 10px;
  background-color: #362e61;
  color: #fff;
  border: 1px solid #fff;
}
.innerpage-wrapper table td {
  padding: 10px;
  background-color: #eee;
  border: 1px solid #fff;
}

.image-gallery a[data-lightbox] {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  margin-bottom: 30px;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: 0px 0px 6px #999;
  margin-bottom: 30px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.image-gallery a[data-lightbox]:hover {
  box-shadow: 0px 0px 6px #333;
}
.image-gallery a[data-lightbox] img {
  visibility: hidden !important;
}

.accordion {
  margin-bottom: 20px;
}
.accordion .accordion-header {
  margin: 0;
}
.accordion .accordion-header .accordion-button {
  background-color: #eee;
  color: #362e61;
  font-size: 20px;
}
.accordion .accordion-header .accordion-button:not(.collapsed)::after {
  color: #362e61;
}

.img1 img {
  height: 494px;
}

/*# sourceMappingURL=app.css.map */
