html {
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
 width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
 box-shadow: inset 0 0 5px grey;
 border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
 background: #007abb;
 border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #000;
}

body {
	color: $dark-grey;
    font-family: $font-primary;
    font-size: 16px;
    line-height: 1.5;
    background: $white;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 16px 0;
	color: $black;
}

a {
	color: $dark-grey;
	text-decoration: none;
}

p{
	line-height: 1.8;
}

// Override Bootstrap styles
:root {
	--bs-btn-border-radius: 0px !important;
}

.btn-primary {
	background-color: $primary !important;
	border-color: $primary !important;
}

.bg-light {
	background-color: $light-grey !important;
}
