.top-banner{
    position: relative;
    padding: 50px 0;
    text-align: center;
    color: $white;
    background:{
        position: center right;
        repeat: no-repeat;
        size: cover;
        image: url('../images/innerpage-bg.jpg');
        attachment:fixed;
    }

    &__title{
        font-size: 35px;
        text-transform: uppercase;
        color: $white;
    }

    .breadcrumbs{
        a{
            color: $white;
            position: relative;

            &:before{
                content: '';
                position: absolute;
                left: 0;
                bottom: -4px;
                width: 15px;
                height: 1px;
                background: #fff;
                transition: all .4s ease-in-out;
            }

            &:hover:before{
                width: 100%;
            }
            
        }
    }

}

.innerpage-wrapper{
    padding: 40px 0;

    p{
        text-align: justify;
    }

    .side-about-wrap{
        border: 1px solid $light-grey;
        margin-bottom: 20px;
        h5{
            background: $primary;
            padding: 10px 15px;
            color: $white;
            margin: 0;
            text-transform: uppercase;
        }
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 2.5;

        li{
            position: relative;
            padding-left: 30px;

            &:before{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: 9;
                width: 30px;
                height: 30px;
                color: $dark-grey;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                text-align: center;
                content: "\f054";
                cursor: pointer;
            }
        }
    }

    .university{
        padding: 0;
    }

}
