.top-banner{
    position: relative;
    padding: 50px 0;
    background:{
        position: center right;
        repeat: no-repeat;
        size: cover;
        image: url('../images/innerpage-bg.jpg');
        attachment:fixed;
    }

    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 70%);
        top: 0;
    }

    &__content{
        color: $white;
        z-index: 1;
        position: relative;
    }

    &__title{
        font-size: 35px;

        span{
            
        }
    }

}

.innerpage-wrap{
    padding: 40px 0;

    &__title{
        font-size: 25px;
        color: $black;
        text-transform: uppercase;
    }

    .video-wrap{
        position: relative;

        img{
            object-fit: cover;
        }

        &__video-icon-wrap{
            position: absolute;
            height: auto;
            width: auto;
            left: 0;
            top: 0;
            display: flex;
            flex-wrap: wrap;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            height: 100%;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
            right: 0;
            margin: auto;

            a{
                background: radial-gradient( rgba(14, 101, 243, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
                box-shadow: 0px 0px 25px 3px rgb(14 101 243 / 80%);
                width: 70px;
                height: 70px;
                background: #0e65f3;
                border-radius: 50%;
                line-height: 70px;
                display: inline-block;
                text-align: center;
                position: relative;
                color: #fff;
                animation:  playButtonGlow 4s infinite;
            }
        }

    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 2.5;

        li{
            position: relative;
            padding-left: 30px;

            &:before{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: 9;
                width: 30px;
                height: 30px;
                color: $dark-grey;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                text-align: center;
                content: "\f054";
                cursor: pointer;
            }
        }
    }

    table{
        width: 100%; 
        margin: 20px 0;       

        th{
            padding:10px;
            background-color: $dark-grey;
            color: $white;
            border: 1px solid $white;
        }

        td{
            padding:10px;
            background-color: $light-grey;
            border: 1px solid $white;
        }
    }
}
@keyframes playButtonGlow {
    0% {
        transform:  scale(1);
    }
    50% {
        transform:  scale(1.25);
    }
    100% {
        transform:  scale(1);
    }
}

/**service**/
.service-top-banner{
    padding: 50px 0;
    position: relative;
    background:{
        position: center right;
        repeat: no-repeat;
        size: cover;
        image: url('../images/service.jpg');
        attachment:fixed;
    }

    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 70%);
        top: 0;
    }

    &__content{
        color: $white;
        z-index: 1;
        position: relative;
    }

    &__title{
        font-size: 35px;

        span{
            
        }
    }

}