.hero {
     position: relative;

     img.slider-img{
        height: 565px;
     }

     &__slider-logo{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 364px;
        height: 256px;;
     }

    .hero-content{
        position: absolute;
        top: 0;
        left: 10%;
        background-color: rgb(0, 0, 0, 0.5);
        padding:150px 50px;
        font-size: 30px;
        color: $white;
        font-family: $font-head;
        text-transform: uppercase;
        width: 40%;
        height: 100%;

        h1{
            color: $white;
            font-size: 30px;

            span{
                display: inline-block;
                width: 70px;
                height: 2px;
                background: $white;
                margin-right: 20px;
                position: relative;
                top: -4px;
            }
        }
        
        p{
            
        }
        a{
            padding: 10px 30px;
            
            
        }
    }
}

.headline{
    font-size: 20px;
}
