.hero {
    padding: 50px 0;
    background: {
        position: center right;
        repeat: no-repeat;
        size: cover;
        image: url('../images/slider.jpg');
    }
    @include mediaMin(md) {
        padding: 100px 0;
    }

    .hero-content{
        
        p{
            font-size: 25px;
            color: $dark-grey;
        }
        a{
            padding: 10px 30px;
            
            
        }
    }
}

.headline{
    font-size: 25px;
}
