.news-event {
    background: #EFEFEF;    
    padding: 50px;

    &__title{
        font-size: 30px;
        color: $black;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; 
        
    }

    .news-list{

        .date{
            margin-top: 20px;

            span{
                background-color: $primary;
                color: $white;
                padding: 5px 10px;
                border-radius: 3px;
            }
        }

        h3{
            white-space: nowrap; 
            width: 100%; 
            overflow: hidden;
            text-overflow: ellipsis; 
        }

        a{

            &:hover{
                color: $primary;
                
            }
        }
    }
}

.innerpage-wrapper.news-event{
    background: transparent;

    .news-list{
        margin-bottom: 40px;
    }
}
