.testimonials {
    
    &__wrapper{
        padding: 50px 0;
        background:url(../images/testimonial-logo.png)#d7d3cf center left no-repeat;
        text-align: center;
    }

    &__title{
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
    }

    &__wrap{
        margin: 30px;

        .tesimonials__wrap__name{
            color: $black;
            font-size: 20px;
        }
    }

    .owl-nav{
        display: none;        
    }

    .owl-dots{
        text-align: center;

        .owl-dot{
            width: 15px;
            height: 15px;
            background-color: transparent;
            border: 1px solid $primary;
            margin: 0 5px;
            border-radius: 50px;
        }
        .active{
            background-color: $primary;
        }
    }
    
}
